### Preparation

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r"C:\Users\dioog\Instacart Basket Analysis"

In [3]:
df_prods = pd.read_csv(os.path.join(path, "02 Data", "02 Prepared data", "products_checked.csv"))


### Importing pickle

In [4]:
df_orders_products_combined = pd.read_pickle(os.path.join(path, "02 Data", "02 Prepared data", "orders_products_combined.pkl"))


### Check the shape of the imported dataframe

In [5]:
df_orders_products_combined.shape

(32434489, 12)

In [ ]:

# df_orders_products_combined has the same number of rows columna than the exported file.

In [6]:
df_orders_products_combined.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both


### Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [ ]:

# I decided to use the merge function which is adequate when the dataframes do not match in shape. 

# The common identifier is the product_id.


### renaming column _merge in df_orders_products_combined

In [9]:
df_orders_products_combined.rename(columns={"_merge" : "_merge_old"}, inplace = True)

### Merging df_orders_products_combined and df_prods

In [10]:
df_orders_products_merged = df_orders_products_combined.merge(df_prods, on = "product_id", indicator = True)

In [13]:
df_orders_products_merged.shape

(32404859, 18)


### Confirm the results of the merge using the merge flag.

In [14]:
df_orders_products_merged["_merge"].value_counts()

both          32404859
right_only           0
left_only            0
Name: _merge, dtype: int64


### Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [15]:
df_orders_products_merged.to_pickle(os.path.join(path, "02 Data", "02 Prepared Data", "orders_products_merged.pkl"))