### importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

### Importing dfs

In [2]:
path = r"C:\Users\dioog\Instacart Basket Analysis"

In [3]:
df_prods = pd.read_csv(os.path.join(path, "02 Data", "01 Original data", "products.csv"))

In [5]:
df_ords = pd.read_csv(os.path.join(path, "02 Data", "02 Prepared data", "orders_wrangled.csv"))

### creating a test df

In [6]:
df_test = pd.DataFrame()

In [11]:
df_test["mix"] = ["a", "b", 1, True]

In [12]:
df_test

    mix
0     a
1     b
2     1
3  True

### Handling mixed-type data

In [13]:
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

### Handling missing values

In [14]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [15]:
df_nan = df_prods[df_prods["product_name"].isnull() == True]

In [16]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [18]:
df_prods.shape

(49693, 5)

In [19]:
df_prods_clean = df_prods[df_prods["product_name"].isnull() == False]

In [20]:
df_prods_clean.shape

(49677, 5)

### Handling duplicates

In [48]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [49]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [23]:
df_prods_clean.shape

(49677, 5)

In [26]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [27]:
df_prods_clean_no_dups.shape

(49672, 5)

### Exporting products_checked.csv

In [29]:
df_prods_clean_no_dups.to_csv(os.path.join(path, "02 Data", "02 prepared data", "products_checked.csv"))

# Starting Task

### Run the df.describe() function on your df_prods dataframe. Using your new knowledge about how to interpret the output of this function, share in a markdown cell whether anything about the data looks off or should be investigated further.

In [30]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [ ]:
# There is a product that sells for 99999$? Further inventigation is advised.

### Check for mixed-type data in your df_ords dataframe.

In [32]:
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

### If you find mixed-type data, fix it. The column in question should contain observations of a single data type.

In [ ]:
#  print (col) was not executed, which means there are no mixed type columns

### Run a check for missing values in your df_ords dataframe. In a markdown cell, report your findings and propose an explanation for any missing values you find.

In [35]:
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
order_day_of_week              0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [ ]:
# There are 206209 missing values in column days_since_prior_order. I would inquire the client about it. 
# But if I would have to guess, I would say that the missing values are actually first orders by new clients.

### Address the missing values using an appropriate method. In a markdown cell, explain why you used your method of choice.

In [ ]:
# If the missing values are actually first orders by new clients, it makes no sense to delete them.

In [ ]:
# I would instead create a new variable that acts like a flag based on the missing value.

In [ ]:
# for example, a boolean variable named "new_user"

### Run a check for duplicate values in your df_ords data. In a markdown cell, report your findings and propose an explanation for any duplicate values you find.

In [50]:
df_dups_ords = df_ords[df_ords.duplicated()]

In [51]:
df_dups_ords

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, order_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

### Address the duplicates using an appropriate method. In a markdown cell, explain why you used your method of choice.

In [ ]:
# df_dups_ords has no entries. This means no duplicated rows in df_ords.

### exporting orders_checked.csv

In [52]:
df_ords.to_csv(os.path.join(path, "02 Data", "02 prepared data", "orders_checked.csv"))